body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: transparent;
  padding: 1rem 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.nav-link {
  color: #000;
  font-weight: 500;
  margin-right: 15px;
}

.nav-link.active {
  font-weight: bold;
}

.navbar .btn-outline-primary {
  color: #000;
  border-color: #000;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ensure the container is responsive */
.container {
  max-width: 1140px; /* Adjust the max-width as needed */
}

/* Make the image responsive */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Adjust button size and spacing for smaller screens */
.btn-lg {
  width: auto;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 10px;
  }
}

#transactionsTable,
th,
td {
  vertical-align: middle !important;
  text-align: center !important;
}
